<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Listado de Empleados</span>
            <button class="btn btn-outline-primary" style="float: right" routerLink="/create-empleado">AGREGAR</button>
            <table class="table table-hover mt-4">
                <thead>
                    <tr class="table-secondary">
                        <td scope="row">Nombre</td>
                        <td>Apellido</td>
                        <td>Documento</td>
                        <td>Salario</td>
                        <td></td>
                      </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Daniel</td>
                        <td>Medina</td>
                        <td>34907753</td>
                        <td>50.000$</td>
                        <td>
                            <i class="fas fa-edit text-info" style="margin-right: 10px;"></i>
                            <i class="fas fa-trash-alt text-danger"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Patricia</td>
                        <td>Baigorria</td>
                        <td>34571517</td>
                        <td>50.000$</td>
                        <td>
                            <i class="fas fa-edit text-info" style="margin-right: 10px;"></i>
                            <i class="fas fa-trash-alt text-danger"></i>
                        </td>
                    </tr>
                </tbody>    
            </table>            
        </div>
    </div>
</div>
